<header class="wc-header">
    <div class="wc-header__inner">
        <div class="wc-brand">
            <span class="wc-brand__mark">26</span>
            <div class="wc-brand__text">
                <span class="wc-brand__title">FIFA World Cup</span>
                <span class="wc-brand__sub">Canada &middot; Mexico &middot; USA</span>
            </div>
        </div>
        <nav class="wc-nav">
            {{#link-to 'index' class='wc-nav__link'}}Home{{/link-to}}
            {{#link-to 'groups' class='wc-nav__link'}}Groups{{/link-to}}
            {{#link-to 'schedule' class='wc-nav__link'}}Schedule{{/link-to}}
            {{#link-to 'news' class='wc-nav__link'}}News{{/link-to}}
        </nav>
    </div>
</header>

<main class="wc-main">
    {{outlet}}
</main>

<footer class="wc-footer">
    <span>Scores update automatically from the open-source worldcup.json feed.</span>
    <span>Kickoff: 11 June 2026 &middot; Final: 19 July 2026</span>
</footer>
